.container-portrait {
  margin: auto;
  width: 270px;
  height: 435px;
}

.wrapper {
  position: absolute;
  z-index: 0;
  width: 270px;
  height: 435px;
  background: white;
  overflow: hidden;
}

.portrait {
  position: absolute;
  top: 30px;
  left: 60px;
}

.neck {
  position: absolute;
  z-index: 0;
  top: 203px;
  left: 53px;
  width: 50px;
  height: 21px;
  background: #ffc49c;
  border-radius: 0% 0% 100% 100% / 100% 100% 50% 50%;
}

.beard {
  position: absolute;
  top: 8px;
  left: 1px;
  width: 153px;
  height: 205px;
  background: black;
  border-radius: 135px 135px 95% 95%;
}

.face {
  position: absolute;
  z-index: 100;
  top: 15px;
  left: 1px;
  width: 153px;
  height: 183px;
  background: #ffc49c;
  border-radius: 135px 135px 95% 95%;
}

.bangs {
  position: absolute;
  z-index: 100;
  left: 19px;
  top: -7px;
  width: 115px;
  height: 45px;
  background: black;
  border-radius: 100% 100% 100% 100%;
}

.hair {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: -3px;
  width: 160px;
  height: 160px;
  background: black;
  border-radius: 100%;
}

.ear-left {
  position: absolute;
  z-index: 1;
  top: 95px;
  left: 129px;
  width: 35px;
  height: 35px;
  background: #ffc49c;
  border-radius: 100%;
}

.ear-right {
  position: absolute;
  z-index: 1;
  top: 95px;
  left: -7px;
  width: 35px;
  height: 35px;
  background: #ffc49c;
  border-radius: 100%;
}

.eyebrow-left {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 12px;
  width: 35px;
  height: 4px;
  background: #2d1002;
  animation: 3.5s eyebrow infinite;
}

.eyebrow-right {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: 95px;
  width: 35px;
  height: 4px;
  background: #2d1002;
  animation: 3.5s eyebrow infinite;
}

@keyframes eyebrow {
  0% {
    transform: translateY(1%);
  }
  50% {
    transform: translateY(35%);
  }
  0% {
    transform: translateY(1%);
  }
}

.eye-left {
  position: absolute;
  z-index: 1;
  top: 83px;
  left: 21px;
  width: 21px;
  height: 21px;
  background: #2d1002;
  border: 5px solid #337a2c;
  border-radius: 100%;
  animation: 2.5s eyes infinite;
}

.eye-right {
  position: absolute;
  z-index: 1;
  top: -5.3px;
  left: 90px;
  width: 21px;
  height: 21px;
  background-color: #2d1002;
  border: 5px solid #337a2c;
  border-radius: 100%;
  animation: 2.5s eyes infinite;
}

@keyframes eyes {
  0% {
    background-color: #2d1002;
    border: 5px solid #337a2c;
  }
  92% {
    background-color: #2d1002;
    border: 5px solid #337a2c;
  }
  95% {
    background-color: transparent;
    border: 5px solid transparent;
  }
  100% {
    background-color: #2d1002;
    border: 5px solid #337a2c;
  }
}

.nose {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 71px;
  width: 10px;
  height: 37px;
  border: 4px solid;
  border-radius: 10%;
  border-color: #ec9164 #ec9164 transparent transparent;
  transform: rotate(210deg);
}

.mouth {
  position: absolute;
  top: 135px;
  left: 53px;
  width: 50px;
  height: 25px;
  border: 8px solid;
  border-radius: 100%;
  border-color: transparent transparent #a41648 transparent;
  animation: 1s mouth linear infinite;
}

@keyframes mouth {
  0% {
    top: 135px;
    left: 53px;
    width: 50px;
    height: 35px;
  }
  25% {
    top: 135px;
    left: 49px;
    width: 59px;
    height: 35px;
  }
  50% {
    top: 135px;
    left: 53px;
    width: 50px;
    height: 35px;
  }
  75% {
    top: 135px;
    left: 45px;
    width: 65px;
    height: 35px;
  }
  100% {
    top: 135px;
    left: 53px;
    width: 50px;
    height: 35px;
  }
}

.body {
  position: absolute;
  z-index: -1;
  top: 219px;
  left: -41px;
  width: 232px;
  height: 125px;
  background: lightskyblue;
  border-radius: 80px 80px 0 0;
}

.glass-left {
  position: absolute;
  z-index: 2;
  left: 1px;
  top: 77px;
  width: 59px;
  height: 35px;
  border: 4px solid black;
  border-radius: 20% 20% 35% 35%;
}

.glass-right {
  position: absolute;
  z-index: 2;
  top: -4px;
  left: 90px;
  width: 59px;
  height: 35px;
  border: 4px solid black;
  border-radius: 20% 20% 35% 35%;
}

.glasses-rim {
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 54px;
  width: 37px;
  height: 5px;
  background: black;
}

.laptop {
  border-radius: 12px;
  background-color: black;
  height: 110px;
  width: 235px;
  top: 305px;
  left: 1px;
  margin: 0 auto -8px auto;
  position: relative;
}

.logo-laptop {
  position: absolute;
  background-color: white;
  border: 5px solid silver;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  top: 37%;
  left: 45%;
}
