.container-portrait {
  margin: auto;
  padding-top: 12px;
  width: 253px;
  height: 410px;
  background-color: white;
}

.wrapper {
  position: absolute;
  z-index: 0;
  width: 253px;
  height: 410px;
  background: white;
  overflow: hidden;
}

.portrait {
  position: absolute;
  top: 30px;
  left: 60px;
}

.neck {
  position: absolute;
  z-index: 0;
  top: 170px;
  left: 43.5px;
  width: 50px;
  height: 21px;
  background: #ffc49c;
  border-radius: 0% 0% 100% 100% / 100% 100% 50% 50%;
}

.beard {
  position: absolute;
  top: 21px;
  left: 9px;
  width: 117px;
  height: 160px;
  background: black;
  border-top-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-bottom-right-radius: 65% 80%;
  border-bottom-left-radius: 65% 80%;
}

.face {
  position: absolute;
  z-index: 100;
  top: 31px;
  left: 10px;
  width: 115px;
  height: 139px;
  background: #ffc49c;
  border-top-right-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  border-bottom-right-radius: 65% 80%;
  border-bottom-left-radius: 65% 80%;
}

.bangs {
  position: absolute;
  z-index: 100;
  left: 15px;
  top: -10px;
  width: 85px;
  height: 31px;
  background: black;
  border-radius: 100% 100% 100% 100%;
}

.hair {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 8px;
  width: 119px;
  height: 115px;
  background: black;
  border-radius: 100%;
}

.ear-left {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 3px;
  width: 35px;
  height: 39px;
  background: #ffc49c;
  border-radius: 100%;
}

.ear-right {
  position: absolute;
  z-index: 1;
  top: 74px;
  left: 95px;
  width: 35px;
  height: 39px;
  background: #ffc49c;
  border-radius: 100%;
}

.eyebrow-left {
  position: absolute;
  z-index: 1;
  top: 37px;
  left: 6px;
  width: 39px;
  height: 15px;
  border: 4px solid;
  border-radius: 100%;
  border-color: black transparent transparent transparent;
  animation: 5s eyebrow1 infinite;
}

.eyebrow-right {
  position: absolute;
  z-index: 1;
  top: 37px;
  left: 70px;
  width: 39px;
  height: 15px;
  border: 4px solid;
  border-radius: 100%;
  border-color: black transparent transparent transparent;
  animation: 5s eyebrow2 infinite;
}

@keyframes eyebrow1 {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(5%);
  }
}

@keyframes eyebrow2 {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(5%);
  }
}

.eye-left {
  position: relative;
  z-index: 1;
  top: 51px;
  left: 12px;
  width: 25px;
  background: white;
  border-radius: 100%;
  overflow: hidden;
  background-image: radial-gradient(
    circle at center,
    black 0%,
    black 9%,
    green,
    darkgreen,
    white 39%,
    white 100%
  );
  animation: 2.5s blink-left infinite;
}

.eye-right {
  position: absolute;
  z-index: 1;
  top: 51px;
  left: 77px;
  width: 25px;
  background: white;
  border-radius: 100%;
  overflow: hidden;
  background-image: radial-gradient(
    circle at center,
    black 0%,
    black 9%,
    green,
    darkgreen,
    white 39%,
    white 100%
  );
  animation: 2.5s blink-right infinite;
}

@keyframes blink-left {
  0% {
    height: 7%;
  }
  5% {
    height: 0%;
    margin-top: 5%;
  }
  10% {
    height: 7%;
    margin-top: 0;
  }
  100% {
    height: 7%;
  }
}

@keyframes blink-right {
  0% {
    height: 7%;
  }
  5% {
    height: 0%;
    margin-top: 5%;
  }
  10% {
    height: 7%;
    margin-top: 0;
  }
  100% {
    height: 7%;
  }
}

.nose {
  position: absolute;
  top: 55px;
  height: 35px;
  width: 21px;
  left: 57.5px;
  z-index: 1;
  background: #ffc49c;
  transform: translateX(-50%);
  border-radius: 0 0 23% 23%;
  border-bottom: solid 2.1px #261505;
  box-shadow: 0 15px 15px rgba(200, 160, 80, 0.35);
}

.mouth {
  position: absolute;
  top: 95px;
  left: 36px;
  width: 44px;
  height: 23px;
  border: 9px solid;
  border-radius: 100%;
  border-color: transparent transparent #943526 transparent;
  animation: 2.5s mouth linear infinite;
}

@keyframes mouth {
  0% {
    transform: scaleX(0.85);
  }
  10% {
    transform: scaleX(1);
  }
  15% {
    transform: scaleX(0.85);
  }
  25% {
    transform: scaleX(0.9);
  }
  35% {
    transform: scaleX(0.75);
  }
  50% {
    transform: scaleX(1.05);
  }
  70% {
    transform: scaleX(0.9);
  }
  80% {
    transform: scaleX(1);
  }
  90% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(0.85);
  }
}

.body {
  position: absolute;
  z-index: -1;
  top: 185px;
  left: -53px;
  width: 241px;
  height: 125px;
  background: lightskyblue;
  border-radius: 80px 80px 0 0;
}

.glass-left {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 45px;
  width: 47px;
  height: 27px;
  border: 4px solid black;
  border-radius: 20% 20% 35% 35%;
}

.glass-right {
  position: absolute;
  z-index: 2;
  top: 45px;
  left: 68px;
  width: 47px;
  height: 27px;
  border: 4px solid black;
  border-radius: 20% 20% 35% 35%;
}

.glasses-rim {
  position: absolute;
  z-index: 100;
  top: 49px;
  left: 40px;
  width: 35px;
  height: 17px;
  border: 4px solid;
  border-radius: 100%;
  border-color: black transparent transparent transparent;
}

.laptop {
  border-radius: 12px;
  background-color: black;
  height: 121px;
  width: 241px;
  top: 259px;
  left: 1px;
  margin: 0 auto -8px auto;
  position: relative;
}

.logo-laptop {
  position: absolute;
  background-color: white;
  border: 5px solid lightskyblue;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  top: 37%;
  left: 43%;
}
