.logo-technologies {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-technologies img {
  height: 39px;
  padding: 3.2px;
  margin-top: 21px;
}

#my-apps {
  font-size: 31px;
  text-align: center;
  color: blue;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

@media (min-width: 768px) {
  #my-apps {
    font-size: 35px;
  }
}

#my-apps:after {
  content: "";
  animation: myApps 12s linear infinite;
}

@keyframes myApps {
  0% {
    content: "Landing page";
  }
  2.5% {
    content: "Biographical Page";
  }
  5% {
    content: "My Country";
  }
  7.5% {
    content: "Green Tech";
  }
  10% {
    content: "Juice Store";
  }
  12.5% {
    content: "Flower Shop";
  }
  15% {
    content: "Photo Blog";
  }
  17.5% {
    content: "Byzantine Empire";
  }
  20% {
    content: "Learning System";
  }
  22.5% {
    content: "Graphic animation";
  }
  25% {
    content: "Students` prayers";
  }
  27.5% {
    content: "Astronomical quiz";
  }
  30% {
    content: "Coloring pages";
  }
  32.5% {
    content: "Seasons photos";
  }
  35% {
    content: "Quiz Religion";
  }
  37.5% {
    content: "Christmas tree";
  }
  40% {
    content: "Shapes game";
  }
  42.5% {
    content: "My Resume";
  }
  45% {
    content: "Educatie tehnologica";
  }
  47.5% {
    content: "Breaking news";
  }
  50% {
    content: "Bungee jumping";
  }
  52.5% {
    content: "Shopping list";
  }
  55% {
    content: "Discover colors";
  }
  57.5% {
    content: "School survey";
  }
  60% {
    content: "Bread recipe";
  }
  62.5% {
    content: "Moving button";
  }
  65% {
    content: "Changing petals";
  }
  67.5% {
    content: "Edu games";
  }
  70% {
    content: "Results table";
  }
  72.5% {
    content: "Romanian wines";
  }
  75% {
    content: "Graphic Design";
  }
  77.5% {
    content: "Byzantine music";
  }
  80% {
    content: "Bread recipe";
  }
  82.5% {
    content: "School library";
  }
  85% {
    content: "Meridian clocks";
  }
  87.5% {
    content: "Golden fish";
  }
  90% {
    content: "Graphic animation";
  }
  92.5% {
    content: "Romanian wines";
  }
  95% {
    content: "Interstellar navigation";
  }
  97.5% {
    content: "Find antonyms";
  }
  100% {
    content: "Find antonyms";
  }
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: 20%;
  }
}

.thumbnail {
  padding: 1px;
  border-radius: 35px;
  background-color: white;
  text-align: center;
  margin-top: 25px;
  border: 1px solid lightskyblue;
  box-shadow: 7px 7px 14px #cccccc, -7px -7px 14px white;
  transition: box-shadow 0.5s;
}

.thumbnail:hover {
  box-shadow: inset 7px 7px 14px #cccccc, inset -7px -7px 14px white;
}

.thumbnail h3 {
  color: blue;
}

.thumbnail img {
  display: block;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  width: 91%;
  height: 91px;
  border: 0.5px solid blue;
}

.thumbnail video {
  display: block;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  width: 71%;
  height: 123px;
  border: 0.5px solid blue;
}

@media (min-width: 768px) {
  .thumbnail video {
    width: 85%;
    height: 79px;
  }
}

.span-link {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.item h5 {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

@media (min-width: 768px) {
  .item h5 {
    font-size: 23px;
  }
}

.item img {
  width: 70%;
  margin: auto;
}

@media (min-width: 768px) {
  .item img {
    width: 59%;
  }
}

.item span {
  font-style: normal;
}

.col-sm-3 {
  padding: 9px;
}

@media (min-width: 769px) {
  #portfolio .col-sm-3 {
    width: 20%;
  }
}
