.image-background {
  width: 100%;
  height: 392px;
}

#digital-rain {
  width: 100vw;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif");
}

.message-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 127px;
  padding-bottom: 104px;
  width: 100%;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
}

.message-shape {
  width: 77px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  animation: rotate 19s linear infinite;
}

.technology-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0.35px 0.35px 0 3.5px lime;
}

.technology-shape:nth-of-type(1) {
  color: magenta;
  background: black;
  transform: rotateY(120deg) translateZ(153px);
  box-shadow: 0.35px 0.35px 0 3.5px magenta;
}

.technology-shape:nth-of-type(2) {
  color: cyan;
  background: black;
  transform: rotateY(150deg) translateZ(153px);
  box-shadow: 0.35px 0.35px 0 3.5px cyan;
}

.technology-shape:nth-of-type(3) {
  color: yellow;
  background: black;
  transform: rotateY(180deg) translateZ(153px);
  box-shadow: 0.35px 0.35px 0 3.5px yellow;
}

.technology-shape:nth-of-type(4) {
  color: lime;
  background: black;
  transform: rotateY(210deg) translateZ(153px);
  box-shadow: 0.35px 0.35px 0 3.5px lime;
}

.technology-shape:nth-of-type(5) {
  color: magenta;
  background: black;
  transform: rotateY(240deg) translateZ(153px);
  box-shadow: 0.35px 0.35px 0 3.5px magenta;
}

.technology-shape:nth-of-type(6) {
  background: black;
  width: 315px;
  height: 155px;
}

@import url("https://fonts.googleapis.com/css?family=Orbitron");

#clock {
  width: 94px;
  height: 39px;
  align-items: center;
  margin: auto;
  font-family: "Orbitron", sans-serif;
  font-size: 21px;
  color: magenta;
}

#final-greeting {
  width: 305px;
  height: 85px;
  margin: 1px auto;
  font-family: "Orbitron", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: lime;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

@media (max-width: 768px) {
  .button-container {
    display: flex;
    flex-wrap: wrap;
  }
}

#buttonLike {
  background-color: #cc1123;
  color: white;
  text-shadow: 3.5px 3.5px 1.5px black;
  width: 151px;
  height: 75px;
  margin-top: -0.1px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 1),
    inset 0 0.25em 0.3em rgba(255, 255, 255, 0.35),
    inset 0 -0.25em 0.3em rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#buttonLike:hover {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 1), inset 0 0.1em 0.3em rgba(0, 0, 0, 0.5),
    inset 0 -0.1em 0.3em rgba(0, 0, 0, 0.5);
}

.button-frame {
  background: red;
  box-shadow: inset 0 0.25em 0.125em rgba(255, 255, 255, 0.35),
    inset 0 -0.25em 0.125em rgba(0, 0, 0, 0.35);
  display: block;
  margin-top: 1px;
  padding: 5px;
  width: 161px;
  height: 85px;
  z-index: 20;
}
