.splitter {
  display: flex;
  flex-direction: row;
  height: 270px;
  margin-top: -21px;
  margin-bottom: -5px;
  background: white;
  background-size: 100% 99.5%;
  background-repeat: no-repeat;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.2);
}

.splitter div {
  flex: 1;
  transition: flex 0.5s ease-out;
  color: white;
  text-align: center;
}

.splitter div:hover {
  flex: 1.8;
}

.left-section {
  background:  rgba(143, 94, 82, 0.15);
  border: 1px solid lightskyblue;
}

.right-section {
  background: rgba(0, 102, 0, 0.15);
  border: 1px solid lightskyblue;
}
