.card1,
.card2 {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin-top: -21px;
  margin-bottom: -5px;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.2);
}

.front,
.back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.front {
  display: flex;
  z-index: 1;
}

.card1 .front span {
  background-image: url(/assets/photo-3.jpg);
  width: 25%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.card2 .front span {
  background-image: url(/assets/photo-4.jpg);
  width: 25%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.front:hover span {
  opacity: 1;
}

.front span:first-of-type {
  background-position: 0%;
  transition-delay: 0.1s;
}

.card1 .front span:nth-of-type(2) {
  background-position: 16.7%;
  transition-delay: 0.2s;
}

.card2 .front span:nth-of-type(2) {
  background-position: 16.3%;
  transition-delay: 0.2s;
}

.card1 .front span:nth-of-type(3) {
  background-position: 32.8%;
  transition-delay: 0.3s;
}

.card2 .front span:nth-of-type(3) {
  background-position: 32.5%;
  transition-delay: 0.3s;
}

.front span:nth-of-type(4) {
  background-position: 50%;
  transition-delay: 0.4s;
}

.front span:last-of-type {
  background-position: 66%;
  transition-delay: 0.4s;
}

.back {
  background-color: white;
  display: table;
}

.back .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px;
}

.splitter {
  display: flex;
  flex-direction: row;
  height: 275px;
  margin-top: -21px;
  margin-bottom: -5px;
  background: white;
  background-size: 100% 99.5%;
  background-repeat: no-repeat;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.2);
}

.splitter div {
  flex: 1;
  transition: flex 0.5s ease-out;
  color: white;
  text-align: center;
}

.splitter div:hover {
  flex: 1.8;
}

.left-section {
  background: green;
  border: 1px solid lightskyblue;
}

.right-section {
  background: red;
  border: 1px solid lightskyblue;
}
