html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  font: 400 15px Lato, Montserrat, sans-serif, Times New Roman;
  line-height: 1.8;
  transition: 0.8s ease;
}

h1 {
  text-align: center;
  margin-top: 1px;
  font-size: 35px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

@media (min-width: 768px) {
  h1 {
    font-size: 71px;
  }
}
/* My portrait picture */
.portrait-picture {
  margin-top: -9px;
  width: 115px;
  height: 115px;
  border-radius: 50%;
}

.portrait-picture:hover {
  transform: scale(1.07);
  border-radius: 0;
  cursor: grab;
}
/* My websites screen shoots */
.my-website-screen-shoot {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
  filter: drop-shadow(1px 1px 3px blue);
  top: 259px;
  width: 325px;
  height: 150px;
}

@media (min-width: 768px) {
  .my-website-screen-shoot {
    left: 50%;
    top: 307px;
    width: 455px;
    height: 197px;
  }
}

h2 {
  padding-top: 153px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

@media (min-width: 768px) {
  h2 {
    padding-top: 195px;
    margin: 1px auto;
    font-size: 35px;
  }
}
/* My activity fields text animation */
.activity-fields {
  width: 100%;
  margin: auto;
  height: 35px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
  margin-top: 5px;
  margin-bottom: 1px;
  text-align: center;
}

@media (min-width: 768px) {
  h3 {
    font-size: 31px;
  }
}
/*Greetings animation*/
#initial-greeting {
  font-family: "Times New Roman", "Lato", "Montserrat";
  text-shadow: 1px 1px 1px blue;
  animation: greeting 9s linear infinite;
}

@keyframes greeting {
  0% {
    color: cyan;
  }
  32% {
    color: cyan;
  }
  33% {
    color: magenta;
  }
  65% {
    color: magenta;
  }
  66% {
    color: springgreen;
  }
  99% {
    color: springgreen;
  }
  100% {
    color: cyan;
  }
}

#welcome {
  font-family: "Pacifico", "Lato", "Times New Roman";
  text-shadow: 1px 1px 1px blue;
  animation: greeting 5s linear infinite;
}
/*My SVG CT animation logo*/
#ct-logo {
  width: 171px;
  height: 171px;
  padding-left: 1px;
  padding-bottom: 5px;
  margin: auto;
}

.ct-logo {
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

@keyframes draw1 {
  0% {
    stroke: lightskyblue;
    stroke-width: 1.8px;
  }
  100% {
    stroke: cyan;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

@keyframes draw2 {
  0% {
    stroke: lime;
    stroke-width: 1.8px;
  }
  100% {
    stroke: lime;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

@keyframes draw3 {
  0% {
    stroke: magenta;
    stroke-width: 1.8px;
  }
  100% {
    stroke: magenta;
    stroke-width: 1.8px;
    fill: none;
    stroke-dashoffset: 100;
  }
}

/* My jobs text animation */
.my-jobs {
  font-size: 23px;
  text-align: center;
  color: blue;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 255, 0.1), 0 0 5px rgba(0, 0, 255, 0.1),
    0 1px 3px rgba(0, 0, 255, 0.3), 0 3px 5px rgba(0, 0, 255, 0.2),
    0 5px 10px rgba(0, 0, 255, 0.25), 0 10px 10px rgba(0, 0, 255, 0.2);
}

@media (min-width: 768px) {
  .my-jobs {
    font-size: 35px;
  }
}

.my-jobs:after {
  content: "";
  animation: myJobs 8s linear infinite;
}

@keyframes myJobs {
  0% {
    content: "Frontend Developer";
    color: lightcyan;
  }
  15% {
    content: "Frontend Developer";
    color: cyan;
  }
  20% {
    content: "Web Designer";
    color: yellow;
  }
  35% {
    content: "Web Designer";
    color: lime;
  }
  40% {
    content: "Instructional Designer";
    color: pink;
  }
  55% {
    content: "Instructional Designer";
    color: magenta;
  }
  60% {
    content: "Teacher";
    color: gold;
  }
  75% {
    content: "Teacher";
    color: blue;
  }
  80% {
    content: "Technical Trainer";
    color: springgreen;
  }
  95% {
    content: "Technical Trainer";
    color: green;
  }
  100% {
    content: "Frontend Developer";
    color: lightcyan;
  }
}

h4 {
  font-size: 16px;
  text-align: center;
  width: 90%;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

h5 {
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}
/* Bootstrap jumbotron */
.jumbotron {
  background-color: white;
  color: white;
  margin-top: -6px;
  padding: 5px 1px 1px 1px;
  font-family: Montserrat, sans-serif;
}

.container-fluid {
  padding-left: 14px;
}

.col-sm-12 {
  padding-top: 8px;
}

.panel-heading {
  color: white !important;
  background-color: lightskyblue !important;
  padding-top: 19px;
  padding-bottom: 29px;
  padding-left: 1px;
  padding-right: 1px;
}
/* All website sections */
#about,
#services,
#experience,
#portfolio,
#skills,
#contact {
  margin-top: 73px;
}

.panel {
  margin-top: 5px;
  border: 1px solid lightskyblue;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.2);
}

.panel:hover {
  animation: shake 0.35s ease-in-out;
  cursor: grab;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/* Carousel with my pictures from the JavaScript course */
#myCarousel img {
  width: 90%;
  margin-top: 39px;
  margin-bottom: 15px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.carousel-control.left,
.carousel-control.right {
  background: white;
  width: 5%;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  color: blue;
}

#button {
  color: white;
  background-color: red;
  text-shadow: 1px 1px 1px black;
  box-shadow: 10px 0 40px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  margin: auto;
}

#button:hover,
#button:active {
  background-color: lightskyblue;
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  20% {
    transform: translateX(8px);
  }
  40% {
    transform: translateX(-6px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

#final-greeting {
  text-shadow: 1px 1px 1px blue;
  animation: greeting 5s linear infinite;
}