html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background: white;
  font: 400 15px Lato, Montserrat, sans-serif, Times New Roman,;
  line-height: 1.8;
}

h1 {
  text-align: center;
  margin-top: 1px;
  font-size: 57px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15), 0 20px 25px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  h1 {
    font-size: 90px;
  }
}

.photo {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
  filter: drop-shadow(1px 3px 5px black);
  top: 185px;
  width: 310px;
  height: 180px;
}

@media (min-width: 768px) {
  .photo {
    left: 50%;
    top: 225px;
    width: 500px;
    height: 250px;
  }
}

h2 {
  padding-top: 135px;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15), 0 20px 25px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  h2 {
    padding-top: 220px;
    margin: 1px auto;
    font-size: 50px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15), 0 20px 25px rgba(0, 0, 0, 0.25);
  padding-bottom: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  h3 {
    font-size: 42px;
  }
}

h4 {
  font-size: 18px;
  text-align: center;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px black;
}

@media (min-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

.panel-heading {
  color: #fff !important;
  background-color: lightskyblue !important;
  padding-bottom: 23px;
}

.jumbotron {
  background-color: white;
  color: #fff;
  padding: 45px 10px 100px 10px;
  font-family: Montserrat, sans-serif;
}

.container-fluid {
  padding: 25px;
}

.col-sm-12 {
  padding-top: 10px;
}

.box {
  background-color: white;
  position: relative;
  width: 310px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-shadow: 15px 15px 50px -20px black;
  border: 1px solid lightskyblue;
}

@media (min-width: 768px) {
  .box {
    width: 500px;
  }
}

.box img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.span-link {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

#about {
  margin-top: 50px;
}

#services {
  margin-top: 50px;
}

#portfolio {
  margin-top: 50px;
}

#skills {
  margin-top: 100px;
}

#contact {
  margin-top: 50px;
}

#services .glyphicon {
  font-size: 50px;
  margin-bottom: 20px;
  color: #f4511e;
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  padding-top: 47px;
  font-size: 120px;
}

#changeText {
  font-size: 25px;
  width: 100%;
  text-align: center;
  color: blue;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15), 0 20px 25px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  #changeText {
    font-size: 32px;
  }
}

#changeText:after {
  content: "";
  animation: change 10s linear infinite;
}

@keyframes change {
  0% {
    content: "Landing page";
  }
  4% {
    content: "Astronomic quiz";
  }
  8% {
    content: "Shop'n roses";
  }
  12% {
    content: "Seasons photos";
  }
  16% {
    content: "Quiz Religion";
  }
  20% {
    content: "Christmas tree";
  }
  24% {
    content: "Find antonyms";
  }
  28% {
    content: "  Portfolio";
  }
  32% {
    content: "Educatie tehno";
  }
  36% {
    content: "Breaking news";
  }
  40% {
    content: "Bungee jumping";
  }
  44% {
    content: "Shopping list";
  }
  48% {
    content: "Discover colors";
  }
  52% {
    content: "School survey";
  }
  56% {
    content: "Bread recipe";
  }
  60% {
    content: "Moving button";
  }
  64% {
    content: "Changing petals";
  }
  68% {
    content: "Learn quickly";
  }
  72% {
    content: "Contest results";
  }
  76% {
    content: "Romanian wines";
  }
  80% {
    content: "Graphic Design";
  }
  84% {
    content: "Byzantine music";
  }
  88% {
    content: "Bread recipe";
  }
  92% {
    content: "School library";
  }
  96% {
    content: "Meridian clocks";
  }
  100% {
    content: "Landing page";
  }
}

.thumbnail {
  background-color: #fff;
  text-align: center;
  margin-top: 25px;
  transition: box-shadow 0.5s;
  border: 1px solid lightskyblue;
}

.thumbnail:hover {
  box-shadow: 10px 0 40px rgba(0, 0, 0, 0.2);
}

.thumbnail h3 {
  color: blue;
}

@media (min-width: 768px) {
  .thumbnail h3 {
    font-size: 37px;
  }
}

.thumbnail img {
  margin-top: 35px;
  width: 250px;
  height: 120px;
  border: 0.5px solid blue;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #f4511e;
}

.carousel-indicators li {
  border-color: #f4511e;
}

.carousel-indicators li.active {
  background-color: #f4511e;
}

.item h4 {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

@media (min-width: 768px) {
  .item h4 {
    font-size: 25px;
  }
}

.item img {
  width: 70%;
  margin: auto;
}

@media (min-width: 768px) {
  .item img {
    width: 59%;
  }
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid lightskyblue;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading1 {
  color: #fff !important;
  background-color: green !important;
  padding-top: 1px;
  padding-bottom: 25px;
}

.panel-heading2 {
  color: #fff !important;
  background-color: red !important;
  padding-top: 1px;
  padding-bottom: 25px;
}

.panel-heading3 {
  color: #fff !important;
  background-color: blue !important;
  padding-top: 1px;
  padding-bottom: 25px;
}

.panel-footer {
  background-color: white !important;
}

.panel-footer .button {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 700;
  background-color: #f4511e;
  color: #fff;
}

#contact .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: blue;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

#iframe {
  align-self: center;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 250px;
}


.modal-header {
  background-color: white;
  text-align: center;
  font-size: 32px;
}

.close {
  background-color: black;
  color: red !important;
  font-size: 32px;
}

.modal-body {
  background-color: red;
  color: white !important;
}

.modal-header, .modal-body {
  padding: 40px 50px;
}

.nav-tabs li a {
  color: #ffdb59;
  font-size: 15px;
  font-weight: 700;
}
